@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

main{
    width: 100%;
}

.section-title{
    text-align: center;
    margin-bottom: 80px;
}

body::-webkit-scrollbar{
    display: none;
}

/* ======== Shared styles ======== */

.orange{
    color: #FEA301;
}

.blue{
    color: #01ACFD;
}

.cyan{
    color: #05D4DF;
}


.purple{
    color: #5D58EF;
}

.btn{
    padding: 10px 60px;
    border-radius: 12px;
    color: white;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.d-flex{
    display: flex;
}

section{
    max-width: 1250px;
    margin: 0 auto;
    color: #202020;
}

/* ======== Header styles ========  */
header{
    padding: 20px;
    max-width: 1250px;
    margin: 0 auto;
    color: #202020;
}


/* ======== Nav styles ======== */
nav{
    align-items: center;
    justify-content: space-between;
}

nav .home{
    font-weight: bold;
}

nav .logo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

nav .logo img{
    margin-right: 10px;
}

nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0 auto;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

#menu-btn{
    display: none;
    font-size: 30px;
}
/* ======== Banner styles ======== */
.banner{
    max-width: 1250px;
    align-items: center;
    margin: 0 auto;
    gap: 120px;
    margin-top: 25px;
}

.banner-content .btn{
    padding: 13px 45px;
}

.banner-title{
    font-size: 3.5rem;
    margin-bottom: 24px;
    padding-right: 20px;
    line-height: 1.2;
}

.banner-title .change{
    color: #FEA301;
}

.banner-description{
    margin-bottom: 24px;
    font-size: 1.25rem;
}

/* ======== Standard curriculum styles ======== */
.curriculum{
    text-align: center;
    margin-top: 60px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.curriculum .bg{
    height: 100vh;
    width: 100vw;
    background-image: url('assets/bg.png');
    position: absolute;
    background-repeat: repeat-x;
    overflow: hidden
}

.section-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-bottom: 80px;
}

.card{
    border-radius: 18px;
    min-height: 475px;
    max-width: 365px;
    padding: 50px;
    position: relative;
}

.card img{
    width: 120px;
    margin-bottom: 32px;
}

.card-title{
    margin-bottom: 16px;
}

.card-description{
    font-size: 1rem;
    color: #808080;
    line-height: 1.5;
    margin-bottom: 16px;
}

.card .read-more{
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.slide{
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}

.slide div{
    background: #FEA301;
    color: white;
    padding: 15px 22px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ======== Our Stories styles ======== */

.stories{
    padding: 60px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    background-image: url('./assets/bg.png');
    position: relative;
}

.stories .bg{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, #FEA301 -400%, transparent);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.boxes{
    display: flex;
    gap: 18px;
    min-height: 610px;
    z-index: 2;
}

.box-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.boxes img{
    width: 100%;
}

.boxes{
    z-index: 100
}

.box1{
    border-radius: 16px;
    overflow: hidden;
    background: white;
    max-width: 540px;
    z-index: 5;
}

.box{
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    max-width: 290px;
}

.box .box-title{
    font-size: 1rem;
}

.box .date{
    margin-bottom: 20px;
}

.box .content{
    padding: 0 35px;
    margin-top: -2rem;
}

.box1 .content{
    padding: 0 35px;
    margin-top: -2rem;
    min-height: 320px;
}

.box .date{
    transform: scale(0.9);
    position: relative;
    right: 13px;
}

.date{
    padding: 15px 18px;
    border-radius: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    border: none;
    font-size: 1rem;
    margin-bottom: 35px;
}

.box-title{
    margin-bottom: 35px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.box-description{
    margin-bottom: 35px;
    color: #666666;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

.stories .btn{
    background: #111111;
    margin: 0 auto;
    margin-top: 80px;
    z-index: 100;
    cursor: pointer;
}

/* ===== footer styles ===== */
footer{
    width: 100%;
    background: #01ACFD;
    padding: 120px 140px;
    color: white;
}

footer .content{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

footer .logo{
    font-size: 2.5rem;
}

footer .logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

footer .logo svg{
    min-height: 80px;
    width: 80px;
}

footer .logo-side{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    gap: 35px;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.about p{
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 400;
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
}

@media screen and (max-width: 1200px) {
    .boxes{
        height: 200px;
    }

    .cards{
        padding: 2rem;
    }
}

@media screen and (max-width: 992px) {
    main{
        width: 100%;
    }

    .banner{
        transform: scale(0.9);
        align-items: center;
    }

    .banner-title{
        font-size: 2.2rem;
    }

    .banner-description{
        font-size: 1rem;
    }

    .box1{
        display: none;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }

    footer{
        padding: 100px ;
    }

    footer .content{
        gap: 100px;
    }

    .box-right{
        margin: 0 auto;
        gap: 40px;
    }
}

@media screen and (max-width: 768px) {
    header{
        padding: 0;
    }

    nav{
        display: flex;
        align-items: center;
        border-bottom: 2px solid #FEA301;
        padding: 15px;
    }

    .logo span{
        display: none;
    }

    #menu-btn{
        display: block;
    }

    nav ul{
        display: none;
    }

    nav .btn{
        display: none;
    }

    main{
        width: 100%;
    }

    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }

    .box1{
        display: none;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }

    footer{
        padding: 100px ;
    }

    footer .content{
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 576px) {
    section{
        max-width: 530px;
        /* background: red; */
    }

    .section-title{
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    header{
        padding: 0;
    }

    nav{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #FEA301;
        padding: 15px;
    }

    .logo span{
        display: none;
    }

    .logo svg{
        height: 55px;
    }

    #menu-btn{
        display: block;
    }

    nav ul{
        display: none;
    }

    nav .btn{
        display: none;
    }

    .banner{
        flex-direction: column-reverse;
        text-align: center;
        padding: 1rem;
    }

    .banner-title{
        font-size: 2rem;
        padding-left: 20px;
    }

    .banner-title .change{
        color: #01ACFD;
    }

    .banner-description{
        font-size: .8rem;
    }
    .banner .btn{
        padding: 10px 20px;
        border-radius: 10px;
    }

    .banner-img{
        margin-bottom: -80px;
        margin-top: -40px;
        padding: -1rem;
    }

    .curriculum{
        margin-top: 0px;
        padding: 20px;
    }

    .card img{
        margin-bottom: 10px;
        width: 100px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .card{
        min-height: 320px;
        width: 100%;
    }

    .card-title{
        font-size: 1rem;
        margin-bottom: 16px;
    }

    .card-description{
        font-size: .8rem;
    }

    .read-more{
        font-size: .8rem;
        bottom: 0;
    }

    .slide{
        display: none;
    }

    .boxes{
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .box{
        max-width: 200px;
        min-height: 200px;
    }

    .box-right{
        gap: 10px;
    }

    .date{
        padding: 10px;
        font-size: .6rem;
        position: relative;
        top: 10px;
        left: -5px;
    }

    .box .box-title{
        font-size: .7rem;
    }

    .box .content{
        padding: 0 12px 0 12px;
    }

    .box1{
        display: none;
    }

    .stories{
        padding: 20px;
    }

    .stories .btn{
        margin-top: -100px;
        
    }

    .stories{
        margin-top: -40px;
    }

    footer{
        padding: 65px 20px;
    }

    footer .logo svg{
        min-height: 70px;
        width: 70px
    }

    footer .logo{
        font-size: 2rem;
    }

    footer .content{
        flex-direction: column;
        gap: 0px;
    }

    footer .about{
        margin-top: 32px;
    }

    footer .apps{
        margin-top: 32px;
    }
}